.mainsection {
    background: url(../assets/img/bg.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    box-shadow: inset 0 0 0 2000px rgba(255, 255, 255, 0.86);

    .navmain {
        padding: 0;

        .navbar {
            background: transparent !important;

            .navbar-brand {
                font-size: 20px;
                font-weight: 700;
            }

            .nav-item {
                @media (min-width:764px) {
                    margin-left: 24px;
                }

                .nav-link {
                    font-size: 14px;
                    font-weight: 600;
                    color: #000;
                    &:hover, &.active{
                        color: #fcb211;
                    }
                }
            }

            .btn {
                border-radius: 20px;
                color: #fff;
                font-weight: 600;
                background: linear-gradient(0deg, rgba(251, 148, 52, 1) 0%, rgba(253, 191, 5, 1) 100%) !important;
                box-shadow: 4px 2px 36px -6px #fcb211;
                font-size: 14px;
            }
        }
    }
}